@use '../variables/variables' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  background-color: rgba(97, 97, 97, 0.521);
  margin-top: 0px;
  margin-bottom: 0px;
  &__logo {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: rgba(9, 0, 63, 0.507);
    text-shadow: rgba(163, 59, 163, 0.397) 2px 4px 10px;
    position: absolute;
    top: 3%;
    margin-left: 5%;
    font-size: 2.5rem;
  }
  &__nav {
    &--link {
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
