@use '../variables/variables' as *;

body.index-page {
  display: flex;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(59, 1, 56, 0.658)),
    url("../assets/img/begin-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.header {
  border-bottom: solid 1px rgba(80, 76, 76, 0.237);
  line-height: 2px;
  position: absolute;
  width: 100vw;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;

  &--info {
    color: white;
    font-size: 2rem;
  }
}
.menu__nav {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4.7rem;
  row-gap: 1.5rem;
  text-align: center;
  border: 1px rgba(83, 83, 83, 0.28) solid;
  padding: 1rem;
  transition: 200ms;
  letter-spacing: 0.5rem;
  &:hover {
    background-color: rgba(200, 200, 200, 0.1);
  }

  &--link {
    cursor: url(http://cur.cursors-4u.net/others/oth-6/oth630.cur), pointer !important;
    text-decoration: none;
    transition: 500ms;
    color: rgba($secondary-color, 0.5);
    border-bottom: 1px grey solid;
    background-color: rgba(95, 6, 91, 0.096);
  }
  &--link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba($primary-color, 0.5);
    border-bottom: 1px rgb(224, 177, 218) solid;
  }
}
