@use '../variables/variables' as *;

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 90vh;
  height: calc(100vh - 7.4rem);
  padding: 2rem;

  background-image: url("../../../assets/dog-hero.jpg");
  //background-position: -50rem 0;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    display: flex;
    flex: 1;
    margin: 1em;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(99, 185, 125, 0.199);
    padding: 1rem;
    border-radius: 3px;

    &--title {
      font-size: 5rem;
    }

    &--description {
      font-size: 2.2rem;
    }
  }
}

.articles__dog {
  border-top: 4px solid black;
  background: linear-gradient(rgba(61, 10, 53, 0.521), rgba(160, 0, 0, 0.562));

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title {
      font-size: 2rem;
    }

    &__article {
      display: flex;
      flex-direction: row;

      &--text {
        font-size: 2rem;
        margin-left: 5%;
        margin-top: 4rem;
        letter-spacing: 2px;
        word-spacing: 5px;
        line-height: 200%;
        max-width: 60%;
      }

      & img {
        max-width: 56%;
        height: auto;
        margin-left: 4rem;
        border: 2px solid rgb(36, 36, 36);
      }
      & figcaption {
        font-size: 20px;
        margin-left: 5rem;
        letter-spacing: 0px;
        word-spacing: 0px;
        line-height: 100%;
      }
    }
  }
}
