footer {
  color: white;
  background-color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
}
.header__logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(85, 55, 255, 0.507);
  text-shadow: rgba(163, 59, 163, 0.397) 2px 4px 10px;
  position: absolute;
  top: -2%;
  margin-left: 5%;
  font-size: 2.5rem;
}

.animal__header__container {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.animal__header__container ul,
.animal__header__container ol {
  list-style: none;
}
.animal__header__container .nav > li {
  float: left;
}
.animal__header__container ul.nav {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5rem;
  border-radius: 10%;
  top: 0.4rem;
  transition: 550ms;
}
.animal__header__container .nav li a {
  transition: 400ms;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}
.animal__header__container .nav li a:hover {
  background-color: #434343;
}
.animal__header__container .nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}
.animal__header__container .nav li:hover > ul {
  display: block;
}
.animal__header__container .nav li ul li {
  position: relative;
}
.animal__header__container .nav li ul li ul {
  right: -140px;
  top: 0px;
}

body.index-page {
  display: flex;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(59, 1, 56, 0.658)), url("../assets/img/begin-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.header {
  border-bottom: solid 1px rgba(80, 76, 76, 0.237);
  line-height: 2px;
  position: absolute;
  width: 100vw;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}
.menu--info {
  color: white;
  font-size: 2rem;
}

.menu__nav {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4.7rem;
  row-gap: 1.5rem;
  text-align: center;
  border: 1px rgba(83, 83, 83, 0.28) solid;
  padding: 1rem;
  transition: 200ms;
  letter-spacing: 0.5rem;
}
.menu__nav:hover {
  background-color: rgba(200, 200, 200, 0.1);
}
.menu__nav--link {
  cursor: url(http://cur.cursors-4u.net/others/oth-6/oth630.cur), pointer !important;
  text-decoration: none;
  transition: 500ms;
  color: rgba(186, 190, 190, 0.5);
  border-bottom: 1px grey solid;
  background-color: rgba(95, 6, 91, 0.096);
}
.menu__nav--link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(2, 211, 190, 0.5);
  border-bottom: 1px #e0b1da solid;
}

.start__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}
.start__container img:hover {
  transition: 300ms;
  transform: scale(1.005);
}
.start__container__enjoy {
  text-shadow: rgba(207, 1, 80, 0.356) 2px 2px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(68, 2, 51, 0.856);
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
  bottom: 2%;
  left: 1%;
  font-size: 1.7rem;
}
.start__container__enjoy--msj {
  border-top: 1px dotted #291f1f;
  margin-bottom: -3px;
}
.start__container__enjoy--gif {
  margin-bottom: -1%;
}
.start__container--tiger {
  border: black solid 2px;
  margin-top: 1rem;
}
.start__container--title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(92, 36, 182, 0.699);
  text-shadow: #523252 2px 4px 10px;
  position: absolute;
  top: 2%;
  margin-left: 10%;
  font-size: 2.5rem;
}
.start__container--theButton {
  position: absolute;
  transition: 200ms;
  top: 32%;
  left: 58%;
  text-shadow: black 2px 2px 5px;
  font-style: italic;
  font-family: "Times New Roman";
  font-size: 36px;
  color: #05528e;
  margin: 3px;
  border: #bf1c09 solid 2px;
  padding: 15px 18px;
  border-radius: 5px;
  box-shadow: inset 0 0 50px #fae726;
  cursor: url(http://cur.cursors-4u.net/others/oth-6/oth630.cur), pointer;
}
.start__container--theButton:hover {
  transform: scale(1.02);
}

body {
  cursor: url(../assets/cur/NormalSelect.cur), pointer;
  display: flex;
  min-width: 100vh;
  margin: 0px;
  padding: 0px;
}